body {
    height: 100vh;
    background-color: #000000;
}

.container { 
    padding: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    padding: 20px;
}

.stage-container table {
    border: 1px solid red;
    background-color: #fff;
    width: 90vh;
    border-collapse: collapse;
}

.stage-container table tbody tr {
    height: 15vh
}

.stage-container table tbody tr:nth-child(even) td:nth-child(odd) {
    background-color: #000000;
    color: #fff;
}

.stage-container table tbody tr:nth-child(odd) td:nth-child(even) {
    background-color: #000000;
    color: #fff;
}